.error{
    color: red;
    background-color: #fffccf;
    text-align: center;
}
.info {
    color: blue;
    background-color: #ddffdd;
    text-align: center;
}

.base_p{
    color: mediumspringgreen;
    text-align: center;
    background-color: #5897fb;
}

ul {
    list-style: none;
}
li {
    list-style: none;
}

a{
    padding: 2px;
    background-color: #3875d7;
    border-radius: 3px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
}

.login-button{
    color: red;
    background-color: #ddffdd;
}

.wrapping{
    border: 2px solid black;
}