{% extends 'base.html' %}
{% block content %}detail.htmlです<br>base.htmlを継承し、block contentを上書きしています。<br>
ワーク一覧ページの設定です。
<br>
<br>

     <form method="post" action="{% url 'timewire:update' work.id%}">
    {% for field in form %}
                <div class="field{% if field.errors %} error{% endif %}">
                    <div class="ui input{% if field.errors %} error{% endif %}">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <p class="red message">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>

    {% endfor %}
     {% if work %}
         <div class="wrapping">
          <p>更新前</p>
          <p>店舗名:{{ work.name }}</p>
          <p>時給:{{ work.price }}</p>
          <p>案件詳細:{{ work.content }}</p>
         </div>
         <input type="submit" value="更新">
        {%  csrf_token %}
     {% endif %}
        </form>

{% endblock %}