{% extends 'base.html' %}

{% block content %}index.htmlです<br>base.htmlを継承し、block contentを上書きしています。<br>
ワーク一覧ページの設定です。
<br>
<br>
{#    検索#}
{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {%  for field in test_form %}#}
{#        {{ field }}#}
{#    {% endfor %}#}
{#    <input type="submit" value="検索">#}
{#</form>#}
{#検索結果#}
{#{% if object_list|length == 0 %}#}
{#    検索結果が存在しません#}
{#{% else %}#}
{#    {% for post in object_list %}#}
{#    {{ post.name }}#}
{#    {{ post.price }}#}
{#    {% endfor %}#}
{#{% endif %}#}
{#    <form action="{% url "timewire:index" %}" method="get">#}
{#        <input type="text" name="q" placeholder="検索">#}
{#        <button type="submit">検索</button>#}
{#    </form>#}
{#    {% if not post_list %}#}
{#        aaa#}
{#    {% endif %}#}
{#    {% for post in post_list %}#}
{#    {{ post.id }}#}
{#    {{ post.name}}#}
{#    {{ post.price }}#}
{#    {% endfor %}#}

{#    <p>店舗名(失敗作。完成品はsearchから)</p>#}
{#    <form action="{% url 'timewire:search' %}" method="get">#}
{#    <input type="text" name="name">#}
{#    <input type="submit" value="検索">#}
{#    {% csrf_token %}#}
{#    </form>#}
{#    <br>#}

    <h2>登録</h2>
    <form action="{% url 'timewire:index' %}" method="post" class="ui form">
    {% for field in form %}
                <div class="field{% if field.errors %} error{% endif %}">
{#                     --- 入力フィールド ---#}
                    <div class="ui input{% if field.errors %} error{% endif %}">
                        {{ field }}
                    </div>
{#                     --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） ---#}
                    {% if field.errors %}
                    <p class="red message">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}

        <button type="submit" class="work_button">ワーク登録</button>
       {% csrf_token %}
    </form>
    <br>

{% for work in works %}
    <div class="wrapping">
        <div>id: {{ work.id }}</div>
     <div>店舗名: {{ work.name }}</div>
     <div>時給: {{ work.price }}</div>
     <div>案件詳細: {{ work.content| linebreaksbr }}</div>
        <form method="post" action="{% url 'timewire:delete' work.id%}">
         <input type="submit" value="削除">
         {%  csrf_token %}
        </form>

     <a href="{% url 'timewire:detail' work_id=work.id %}">修正する</a>
    </div>
    <br>
{% endfor %}

{% endblock %}