{% extends 'base.html' %}

{% block content %}index.htmlです<br>base.htmlを継承し、block contentを上書きしています。<br>
ワーク一覧ページの設定です。
<br>
<br>
    <form action="{% url 'timewire:index' %}" method="post" class="ui form">
    {% for field in form %}
                <div class="field{% if field.errors %} error{% endif %}">
                    {# --- 入力フィールド --- #}
                    <div class="ui input{% if field.errors %} error{% endif %}">
                        {{ field }}
                    </div>
                    {# --- 入力フィールドごとのエラーメッセージ（最初のエラーのみを表示） --- #}
                    {% if field.errors %}
                    <p class="red message">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
                {% endfor %}

        <button type="submit" class="work_button">ワーク登録</button>
       {% csrf_token %}
    </form>
    <br>

{% for work in works %}
    <div class="wrapping">
        <div>id: {{ work.id }}</div>
     <div>店舗名: {{ work.name }}</div>
     <div>時給: {{ work.price }}</div>
     <div>案件詳細: {{ work.content| linebreaksbr }}</div>
        <form method="post" action="{% url 'timewire:delete' work.id%}">
         <input type="submit" value="削除">
         {%  csrf_token %}
        </form>

     <a href="{% url 'timewire:detail' work.id %}">修正する</a>
    </div>
    <br>
{% endfor %}

{% endblock %}