{% extends 'base.html' %}

{% block content %}
<br><br>
{#前へ#}
{% if not page_obj.has_previous %}
    <a>最初</a>
{% endif %}
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}
{% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span>{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- 次へ の部分 -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    {% endif %}
{% if not page_obj.has_next %}
    <a>最後</a>
{% endif %}<br><br>





検索
<form method="POST">
    {% csrf_token %}
    {%  for field in test_form %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="検索">
</form>
    <br><br>
検索結果<br>
{% if object_list|length == 0 %}
    検索結果が存在しません
{% else %}

    {% for post in object_list %}
        <div class="wrapping">
    店舗名：{{ post.name }}<br>
    時給：{{ post.price }}<br>
    案件詳細：{{ post.content|linebreaksbr }}</div>
    {% endfor %}
{% endif %}

{% for post in post_list %}
    {{ post.id }}
    {{ post.name }}
    {{ post.price }}
    {{ post.content }}
{% endfor %}

{% endblock %}
