{% extends 'base.html' %}

{% block content %}work.htmlです<br>base.htmlを継承し、block contentを上書きしています。<br>
ワークページの設定です。
<br>
<br>
<a href="#">TODO</a> <a href="#">DONE</a> <a href="#">CANCEL</a> <a href="#">統計</a>
<div class="wrapping">
<p>Todo</p>
 <p>店舗1</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗2</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗3</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
</div>


<div class="wrapping">
<p>Done</p>
 <p>店舗1</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗2</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗3</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
</div>


<div class="wrapping">
<p>Cancel</p>
 <p>店舗1</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗2</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗3</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
</div>


<div class="wrapping">
<p>統計</p>
 <p>店舗1</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗2</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
 <p>店舗3</p>
  <div class="wrapping">
   <p>店舗名:〇〇</p>
   <p>日付:○月○日○時</p>
   <p>場所:Tokyo</p>
   <p>時給:〇〇円</p>
  </div>
</div>

{% endblock %}